# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# environment
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editors
.DS_Store
.vscode/
.idea/

# Supabase local
supabase/.branches/
supabase/.temp/
.vercel
